@charset "UTF-8";
.login-header-f {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom: 2px solid #222;
}

.login-header {
  height: 66px;
  width: 990px;
  margin: 0 auto;
}
.login-header .login-header-logo {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  vertical-align: middle;
  margin-top: 14px;
}
.login-header .login-header-logo img {
  display: inline-block;
}
.login-header ul {
  float: right;
  line-height: 66px;
}
.login-header ul li {
  float: left;
  font-size: 12px;
  vertical-align: middle;
  padding: 0 10px;
}
.login-header ul li a {
  color: black;
}
.login-header ul li a i {
  font-size: 12px;
}

.login-content {
  width: 1150px;
  height: 730px;
  margin: 0 auto;
}

.login-content-l {
  float: left;
  padding: 50px 0;
  width: 575px;
  height: 318px;
  border-right: 1px solid #dfdfdf;
  text-align: center;
  margin: 107px 0;
  line-height: 318px;
}
.login-content-l img {
  display: inline-block;
  vertical-align: middle;
}

.login-content-r {
  float: left;
  margin-top: 107px;
  padding-left: 85px;
}
.login-content-r select {
  width: 132px;
  height: 30px;
  color: #9a9a9a;
  font-size: 16px;
  font-family: 黑体;
  padding: 4px 0px;
  border-color: #c1c1c1;
}
.login-content-r li {
  margin-bottom: 25px;
  position: relative;
}
.login-content-r li .pswlevel {
  padding: 1px 10px;
  height: 15px;
  background-color: #e8e8e8;
  text-align: center;
  font-size: 12px;
}
.login-content-r li .jia86 {
  color: #ae9f9f;
  display: block;
  float: left;
  width: 58px;
  height: 43px;
  border: 1px solid #dbdbdb;
  border-right: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 43px;
}
.login-content-r li .inputt {
  padding: 0;
  width: 268px;
  height: 43px;
  border: 1px solid #dbdbdb;
  color: #9a9a9a;
  text-indent: 10px;
  font-size: 16px;
  line-height: 43px;
  outline: none;
}
.login-content-r .shortmsg input {
  vertical-align: middle;
  width: 164px;
}
.login-content-r .shortmsg a {
  padding: 0;
  height: 45px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: 黑体;
  line-height: 45px;
  width: 100px;
  background: #ff1901;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
.login-content-r .gorightnow .registerNow {
  padding: 0;
  height: 45px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: 黑体;
  line-height: 45px;
  width: 270px;
  background: #555;
  font-weight: 700;
  font-size: 20px;
  float: left;
}
.login-content-r .gorightnow span {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}
.login-content-r .gorightnow span i {
  font-size: 28px;
  color: #555;
}
.login-content-r .xieyi {
  font-size: 12px;
}
.login-content-r .xieyi span {
  color: #b9b9b9;
}
.login-content-r .xieyi a {
  color: red;
  text-decoration: underline;
}
.login-content-r .vcode {
  font-size: 14px;
}
.login-content-r .vcode span {
  color: #b9b9b9;
}
.login-content-r .vcode div {
  margin-top: 8px;
}
.login-content-r .vcode a {
  color: red;
  margin-left: 30px;
}
.login-content-r .vcode img {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}
.login-content-r .pwds .pwdsdiv {
  position: absolute;
  font-size: 12px;
  color: red;
  display: none;
}

.login-content-r .gorightnow .goOk {
  background: #ff1901;
}

#usernameMsg {
  color: red;
}
